// Configuration for Nextflow to manage containers and process settings

// Define parameters
params {
    outputDir = "$projectDir/results"   // Output directory for results
    summaryDir = "$projectDir/summary"  // Summary diirectory 
    workDir = "$projectDir/work"         // Working directory for Nextflow
    maxCPU = 8                          // Max CPU allowed for process
    maxMem = 32.GB                      // Max memory allowed for process
}

profiles {

    standard {

        process {

            withName: fastqc {
                container = '/ifb/data/mydatalocal/Next/ReproHackathon/recipes/fastqc.sif'
            }

            withName: downloadfastq {
                container = '/ifb/data/mydatalocal/Next/ReproHackathon/recipes/sratoolkit.sif'
            }

            //Default ressources configuration for process without label
            cpus = 1
            memory = 3.GB

            // Ressources configuration for process with label
            withLabel: lowMem {
                memory = '8 GB'
            }

            withLabel: medMem {
                memory = '16 GB'
            }

            withLabel: highMem {
                memory = '32 GB'
            }

            withLabel: lowCPU {
                cpus = 2
            }

            withLabel: medCPU {
                cpus = 4
            }

            withLabel: highCPU {
                cpus = 8
            }

            withLabel: retry {
                errorStrategy = { sleep(Math.pow(2, task.attempt) * 30 as long); return 'retry' }
                maxRetries = 1
            }

            // General resource management options
            executor = 'local'                // Use local executor for the VM
            scratch = true                     // Use temporary space for each process
            publishDirMode = 'copy'           // Copy generated files to the output directory
        }
    }

    container {
        // Settings for Apptainer containers
        apptainer {
            enabled = true              // Enable the use of Singularity containers
            autoMounts = true          // Enable automatic mounting of directories
            cacheDir = "$projectDir/apptainer/images" // Directory for caching containers
        }
    }
}

workflow.onComplete = {
    println "Pipeline successfuly completed"
}
workflow.onError = {
    println "Pipeline end with a error status"
}

timeline {
  enabled = true
  file = "${params.summaryDir}/trace/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.summaryDir}/trace/report.html"
  overwrite = true
}

trace {
  enabled = true
  raw = true
  fields = 'process,task_id,hash,native_id,module,container,tag,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,attempt,workdir,scratch,queue,cpus,memory,disk,time,env'
  file = "${params.summaryDir}/trace/trace.txt"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.summaryDir}/trace/DAG.pdf"
  overwrite = true
}
